{% extends "passwords/base.html" %}

{% block title %} {{ name }} {% endblock%}

{% block main %}
    <h1>
        <a target="_blank" rel="noopener noreferrer" href="https://www.{{ name }}">{{ name }}</a>
    </h1>
    
    <form action="{% url 'passwords:configure' %}" method="post">
        {% csrf_token %}

        <input type="hidden" name="website" value={{ name }}>

        <input type="checkbox" name="capitals" id="capitals">
        <label for="capitals">Capitals</label><br>

        <input type="checkbox" name="numbers" id="numbers">
        <label for="numbers">Numbers</label><br>

        <input type="checkbox" name="symbols" id="symbols">
        <label for="symbols">Symbols</label><br>

        <input type="number" name="min_len" id="min_len" value="0" min="0">
        <label for="min_len">Min length</label><br>

        <input type="number" name="max_len" id="max_len" value="0" min="0">
        <label for="max_len">Max length</label><br>

        <input type="text" name="other_details" id="other_details" maxlength="500">
        <label for="other">Other details</label><br>

        <input type="submit" value="submit">
    </form>
{% endblock %}