{% extends "passwords/base.html" %}

{% block title %} {{ name }} {% endblock%}

{% block main %}

    <form action="{% url 'passwords:vote'%}" method="get">

        <input type="search" name="search_query" value="">
        <label for="option0">Enter Website Name :)</label><br>

        <input type="submit" value="search">

    </form>

    {% if error_message %}
        <p style="color:#ea20ea">
            {{ error_message }}
        </p>
        
        <form action="{% url 'passwords:config'%}" method="get">

            <input name="search_query" value={{ name }}>

            <input type="submit" value="configure">

        </form>
    {% endif %}

{% endblock %}